:root {
    --bg: #0d0c22;
    --text: white;
    --bgsoft: #2d2b42;
    --textsoft: #e5e5e5;
    --btn: #3673fe;
    --highlight-color: #3673fe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text);
    background-color: var(--bg);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
 width: 1366px;
 margin: auto;
 padding: 0 50px;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

@media (max-width: 1536px) {
    .container {
        width: 1366px;
    }

}

@media (max-width: 1366px) {
    .container {
        width: 1024px;
        padding: 0 40px;
    }

}

@media (max-width: 1024px) {
    .container {
        width: 768px;
        padding: 0 30px;
    }

}

@media (max-width: 768px) {
    .container {
        width: 640px;
        padding: 0 20px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 475px;
        padding: 0 20px;
    }
}